{% load staticfiles %}
<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
    <head>
        <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta http-equiv="content-language" content="pt-br">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.min.css' %}" />
        {% block css %}{% endblock %}
        <title>Start Cycle</title>
    </head>
    <body>
        <header>
            <div class="navbar-fixed">
                <nav>
                    <div class="container nav-wrapper">
                        <a href="#" class="brand-logo">Rack Tools</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="home.html">Home</a></li>
                            <li><a href="badges.html">Exercicios</a></li>
                            <li><a href="collapsible.html">Sobre</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
    <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/startCycle.js' %}"></script>
    <script>
        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    </script>
    {% block js %}{% endblock %}
</html>